In [226]:
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np

# Here we open the csv file that was exported at the last step of the Data Extraction Process, and create a dataframe 

file_to_open = "Output/00_Extraction/data_csv_original.csv"
data_df = pd.read_csv(file_to_open)

In [227]:
# Display the dataframe header
data_df.head()

,Date,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
0,1987-05-20,18.63,NaN,19.75,NaN,479.950,406.57,NaN,6.54,3.7314,12.59,139.78,NaN
1,1987-05-21,18.45,NaN,19.95,NaN,468.600,408.47,NaN,6.58,3.7314,12.63,140.45,NaN
2,1987-05-22,18.55,NaN,19.68,NaN,473.600,407.40,NaN,6.61,3.7314,12.63,140.60,NaN
3,1987-05-25,18.60,NaN,.,NaN,.,.,NaN,.,.,.,.,NaN
4,1987-05-26,18.63,NaN,19.35,NaN,459.650,411.44,NaN,6.75,3.7314,12.74,143.30,NaN

In [228]:
# Check for the minimum date in the dataframe
data_df["Date"].min()

'1968-04-01'

In [229]:
# Check for the maximum date in the dataframe
data_df["Date"].max()

'2020-03-17'

In [230]:
# Display the rows and columns in the dataframe
data_df.shape

(13557, 13)

In [231]:
# Display the names of the columns in the dataframe
data_df.columns

Index(['Date', 'DCOILBRENTEU', 'DJIA', 'DCOILWTICO', 'DHHNGSP',
       'GOLDAMGBD228NLBM', 'NASDAQCOM', 'SP500', 'WILL5000INDFC', 'DEXCHUS',
       'DEXINUS', 'DEXJPUS', 'DEXUSEU'],
      dtype='object')

In [232]:
# Display the datatypes of the columns
data_df.dtypes

Date                object
DCOILBRENTEU        object
DJIA                object
DCOILWTICO          object
DHHNGSP             object
GOLDAMGBD228NLBM    object
NASDAQCOM           object
SP500               object
WILL5000INDFC       object
DEXCHUS             object
DEXINUS             object
DEXJPUS             object
DEXUSEU             object
dtype: object

In [233]:
# Run the describe function on the columns
data_df.describe()

,Date,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
count,13557,8563,2609,8922,6049,13557,12813,2609,12839,10226,12314,12835,5530
unique,13557,4614,2505,4837,897,7626,11860,2500,5373,3967,3752,6954,3413
top,1969-05-19,.,.,.,.,.,.,.,.,3.7314,.,.,.
freq,1,228,94,301,218,419,425,92,2573,789,480,499,209

In [234]:
# Get the number of rows for all the columns in the dataframe
data_df.count()

Date                13557
DCOILBRENTEU         8563
DJIA                 2609
DCOILWTICO           8922
DHHNGSP              6049
GOLDAMGBD228NLBM    13557
NASDAQCOM           12813
SP500                2609
WILL5000INDFC       12839
DEXCHUS             10226
DEXINUS             12314
DEXJPUS             12835
DEXUSEU              5530
dtype: int64

In [235]:
# Export data to an excel file
data_df.to_excel("Output/01_Exploration_and_Cleanup/v0_data_from_extraction.xlsx", index=False)

In [236]:
# Load data from the file created in the above step and create a new dataframe
file_to_open = "Output/01_Exploration_and_Cleanup/v0_data_from_extraction.xlsx"
data_df_clean_v1 = pd.read_excel(file_to_open)

In [237]:
# Drop rows that contain N/A in any column
data_df_clean_v1 = data_df.dropna(how='any')

In [238]:
# Count the rows 
data_df_clean_v1.count()

Date                2607
DCOILBRENTEU        2607
DJIA                2607
DCOILWTICO          2607
DHHNGSP             2607
GOLDAMGBD228NLBM    2607
NASDAQCOM           2607
SP500               2607
WILL5000INDFC       2607
DEXCHUS             2607
DEXINUS             2607
DEXJPUS             2607
DEXUSEU             2607
dtype: int64

In [239]:
# Display the rows and columns 
data_df_clean_v1.shape

(2607, 13)

In [240]:
# Display the rows and columns 
data_df_clean_v1.columns

Index(['Date', 'DCOILBRENTEU', 'DJIA', 'DCOILWTICO', 'DHHNGSP',
       'GOLDAMGBD228NLBM', 'NASDAQCOM', 'SP500', 'WILL5000INDFC', 'DEXCHUS',
       'DEXINUS', 'DEXJPUS', 'DEXUSEU'],
      dtype='object')

In [241]:
# Display the datatypes of the columns
data_df_clean_v1.dtypes

Date                object
DCOILBRENTEU        object
DJIA                object
DCOILWTICO          object
DHHNGSP             object
GOLDAMGBD228NLBM    object
NASDAQCOM           object
SP500               object
WILL5000INDFC       object
DEXCHUS             object
DEXINUS             object
DEXJPUS             object
DEXUSEU             object
dtype: object

In [242]:
# Run the describe function on the columns
data_df_clean_v1.describe()

,Date,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
count,2607,2607,2607,2607,2607,2607,2607,2607,2607,2607,2607,2607,2607
unique,2607,2082,2503,2080,384,2060,2507,2498,2189,1950,1491,1858,1679
top,2017-04-24,.,.,.,.,.,.,.,.,.,.,.,.
freq,1,74,94,93,72,85,91,92,92,106,106,106,106

In [243]:
# Export the data to an excel file
data_df_clean_v1.to_excel("Output/01_Exploration_and_Cleanup/v1_clean_data_dropped_NAs.xlsx", index=False)

In [244]:
# Read the data from the file exported above and create a new dataframe
file_to_open = "Output/01_Exploration_and_Cleanup/v1_clean_data_dropped_NAs.xlsx"
data_df_clean_v2 = pd.read_excel(file_to_open)

In [245]:
# Drop teh rows containing zeroes
data_df_clean_v2 = data_df_clean_v1[data_df_clean_v1.loc[:]!=0].dropna()

In [246]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DJIA"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DJIA"], inplace=True)

In [247]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DCOILBRENTEU"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DCOILBRENTEU"], inplace=True)

In [248]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DCOILWTICO"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DCOILWTICO"], inplace=True)

In [249]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DHHNGSP"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DHHNGSP"], inplace=True)

In [250]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["GOLDAMGBD228NLBM"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["GOLDAMGBD228NLBM"], inplace=True)

In [251]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["NASDAQCOM"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["NASDAQCOM"], inplace=True)

In [252]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["SP500"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["SP500"], inplace=True)

In [253]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["WILL5000INDFC"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["WILL5000INDFC"], inplace=True)

In [254]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DEXCHUS"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DEXCHUS"], inplace=True)

In [255]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DEXINUS"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DEXINUS"], inplace=True)

In [256]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DEXJPUS"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DEXJPUS"], inplace=True)

In [257]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace("", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DEXUSEU"], inplace=True)

# Drop the rows containing spaces
nan_value = float("NaN")
data_df_clean_v2.replace(".", nan_value, inplace=True)
data_df_clean_v2.dropna(subset = ["DEXUSEU"], inplace=True)

In [258]:
# Convert to float
data_df_clean_v2["DJIA"] = data_df_clean_v2["DJIA"].astype(float)

In [259]:
# Convert to float
data_df_clean_v2["DCOILBRENTEU"] = data_df_clean_v2["DCOILBRENTEU"].astype(float)

In [260]:
# Convert to float
data_df_clean_v2["DCOILWTICO"] = data_df_clean_v2["DCOILWTICO"].astype(float)

In [261]:
# Convert to float
data_df_clean_v2["DHHNGSP"] = data_df_clean_v2["DHHNGSP"].astype(float)

In [262]:
# Convert to float
data_df_clean_v2["GOLDAMGBD228NLBM"] = data_df_clean_v2["GOLDAMGBD228NLBM"].astype(float)

In [263]:
# Convert to float
data_df_clean_v2["NASDAQCOM"] = data_df_clean_v2["NASDAQCOM"].astype(float)

In [264]:
# Convert to float
data_df_clean_v2["SP500"] = data_df_clean_v2["SP500"].astype(float)

In [265]:
# Convert to float
data_df_clean_v2["WILL5000INDFC"] = data_df_clean_v2["WILL5000INDFC"].astype(float)

In [266]:
# Convert to float
data_df_clean_v2["DEXCHUS"] = data_df_clean_v2["DEXCHUS"].astype(float)

In [267]:
# Convert to float
data_df_clean_v2["DEXINUS"] = data_df_clean_v2["DEXINUS"].astype(float)

In [268]:
# Convert to float
data_df_clean_v2["DEXJPUS"] = data_df_clean_v2["DEXJPUS"].astype(float)

In [269]:
# Convert to float
data_df_clean_v2["DEXUSEU"] = data_df_clean_v2["DEXUSEU"].astype(float)

In [270]:
# Display the datatypes for all columns
data_df_clean_v2.dtypes

Date                 object
DCOILBRENTEU        float64
DJIA                float64
DCOILWTICO          float64
DHHNGSP             float64
GOLDAMGBD228NLBM    float64
NASDAQCOM           float64
SP500               float64
WILL5000INDFC       float64
DEXCHUS             float64
DEXINUS             float64
DEXJPUS             float64
DEXUSEU             float64
dtype: object

In [271]:
# Count the rows for all columns
data_df_clean_v2.count()

Date                2436
DCOILBRENTEU        2436
DJIA                2436
DCOILWTICO          2436
DHHNGSP             2436
GOLDAMGBD228NLBM    2436
NASDAQCOM           2436
SP500               2436
WILL5000INDFC       2436
DEXCHUS             2436
DEXINUS             2436
DEXJPUS             2436
DEXUSEU             2436
dtype: int64

In [272]:
# Display the count of rows and columns
data_df_clean_v2.shape

(2436, 13)

In [273]:
# Display the column names
data_df_clean_v2.columns

Index(['Date', 'DCOILBRENTEU', 'DJIA', 'DCOILWTICO', 'DHHNGSP',
       'GOLDAMGBD228NLBM', 'NASDAQCOM', 'SP500', 'WILL5000INDFC', 'DEXCHUS',
       'DEXINUS', 'DEXJPUS', 'DEXUSEU'],
      dtype='object')

In [274]:
# Display the datatypes
data_df_clean_v2.dtypes

Date                 object
DCOILBRENTEU        float64
DJIA                float64
DCOILWTICO          float64
DHHNGSP             float64
GOLDAMGBD228NLBM    float64
NASDAQCOM           float64
SP500               float64
WILL5000INDFC       float64
DEXCHUS             float64
DEXINUS             float64
DEXJPUS             float64
DEXUSEU             float64
dtype: object

In [275]:
# Run the describe function 
data_df_clean_v2.describe()

,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
count,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000
mean,79.177783,17946.284860,71.897036,3.241067,1356.465948,4878.058072,2003.397701,89.757635,6.506055,60.556976,101.586129,1.225251
std,26.383881,5236.744309,22.154591,0.837332,179.028310,1940.353305,600.649600,31.002341,0.288440,8.562857,14.002602,0.112174
min,26.010000,9686.480000,26.190000,1.490000,1050.600000,2091.790000,1022.580000,41.150000,6.040200,43.900000,75.720000,1.037500
25%,56.167500,13167.747500,51.822500,2.700000,1230.537500,3040.517500,1409.677500,59.102500,6.236225,54.295000,88.220000,1.121200
50%,74.290000,17193.395000,68.790000,3.045000,1299.500000,4705.055000,2011.315000,88.905000,6.472650,63.250000,106.050000,1.220850
75%,107.917500,22050.867500,93.542500,3.850000,1473.162500,6401.105000,2476.620000,113.972500,6.772000,66.950000,111.642500,1.325600
max,128.140000,29551.420000,112.380000,8.150000,1891.000000,9817.180000,3386.150000,160.950000,7.178600,74.330000,125.580000,1.487500

In [276]:
# Export the data 
data_df_clean_v2.to_excel("Output/01_Exploration_and_Cleanup/v2_clean_data_dropped_spaces_periods_&_conv_to_float.xlsx", index=False)

In [277]:
# Load the data that was exported in the step above and create a new dataframe
file_to_open = "Output/01_Exploration_and_Cleanup/v2_clean_data_dropped_spaces_periods_&_conv_to_float.xlsx"
data_df_clean_v3 = pd.read_excel(file_to_open)

In [278]:
# Count the rows
data_df_clean_v3.count()

Date                2436
DCOILBRENTEU        2436
DJIA                2436
DCOILWTICO          2436
DHHNGSP             2436
GOLDAMGBD228NLBM    2436
NASDAQCOM           2436
SP500               2436
WILL5000INDFC       2436
DEXCHUS             2436
DEXINUS             2436
DEXJPUS             2436
DEXUSEU             2436
dtype: int64

In [279]:
# Dispaly the count of the rows and columns
data_df_clean_v3.shape

(2436, 13)

In [280]:
# Dispaly the column names
data_df_clean_v3.columns

Index(['Date', 'DCOILBRENTEU', 'DJIA', 'DCOILWTICO', 'DHHNGSP',
       'GOLDAMGBD228NLBM', 'NASDAQCOM', 'SP500', 'WILL5000INDFC', 'DEXCHUS',
       'DEXINUS', 'DEXJPUS', 'DEXUSEU'],
      dtype='object')

In [281]:
# Dispaly the datatypes for the columns
data_df_clean_v3.dtypes

Date                 object
DCOILBRENTEU        float64
DJIA                float64
DCOILWTICO          float64
DHHNGSP             float64
GOLDAMGBD228NLBM    float64
NASDAQCOM           float64
SP500               float64
WILL5000INDFC       float64
DEXCHUS             float64
DEXINUS             float64
DEXJPUS             float64
DEXUSEU             float64
dtype: object

In [282]:
# Runt he describe function 
data_df_clean_v3.describe()

,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
count,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000
mean,79.177783,17946.284860,71.897036,3.241067,1356.465948,4878.058072,2003.397701,89.757635,6.506055,60.556976,101.586129,1.225251
std,26.383881,5236.744309,22.154591,0.837332,179.028310,1940.353305,600.649600,31.002341,0.288440,8.562857,14.002602,0.112174
min,26.010000,9686.480000,26.190000,1.490000,1050.600000,2091.790000,1022.580000,41.150000,6.040200,43.900000,75.720000,1.037500
25%,56.167500,13167.747500,51.822500,2.700000,1230.537500,3040.517500,1409.677500,59.102500,6.236225,54.295000,88.220000,1.121200
50%,74.290000,17193.395000,68.790000,3.045000,1299.500000,4705.055000,2011.315000,88.905000,6.472650,63.250000,106.050000,1.220850
75%,107.917500,22050.867500,93.542500,3.850000,1473.162500,6401.105000,2476.620000,113.972500,6.772000,66.950000,111.642500,1.325600
max,128.140000,29551.420000,112.380000,8.150000,1891.000000,9817.180000,3386.150000,160.950000,7.178600,74.330000,125.580000,1.487500

In [283]:
# Create the Percent Change
data_df_clean_v3["Pct_DCOILBRENTEU"] = data_df_clean_v3["DCOILBRENTEU"].pct_change(1)

In [284]:
# Create the Percent Change
data_df_clean_v3["Pct_DJIA"] = data_df_clean_v3["DJIA"].pct_change(1)

In [285]:
# Create the Percent Change
data_df_clean_v3["Pct_DCOILWTICO"] = data_df_clean_v3["DCOILWTICO"].pct_change(1)

In [286]:
# Create the Percent Change
data_df_clean_v3["Pct_DHHNGSP"] = data_df_clean_v3["DHHNGSP"].pct_change(1)

In [287]:
# Create the Percent Change
data_df_clean_v3["Pct_GOLDAMGBD228NLBM"] = data_df_clean_v3["GOLDAMGBD228NLBM"].pct_change(1)

In [288]:
# Create the Percent Change
data_df_clean_v3["Pct_NASDAQCOM"] = data_df_clean_v3["NASDAQCOM"].pct_change(1)

In [289]:
# Create the Percent Change
data_df_clean_v3["Pct_SP500"] = data_df_clean_v3["SP500"].pct_change(1)

In [290]:
# Create the Percent Change
data_df_clean_v3["Pct_WILL5000INDFC"] = data_df_clean_v3["WILL5000INDFC"].pct_change(1)

In [291]:
# Create the Percent Change
data_df_clean_v3["Pct_DEXCHUS"] = data_df_clean_v3["DEXCHUS"].pct_change(1)

In [292]:
# Create the Percent Change
data_df_clean_v3["Pct_DEXINUS"] = data_df_clean_v3["DEXINUS"].pct_change(1)

In [293]:
# Create the Percent Change
data_df_clean_v3["Pct_DEXJPUS"] = data_df_clean_v3["DEXJPUS"].pct_change(1)

In [294]:
# Create the Percent Change
data_df_clean_v3["Pct_DEXUSEU"] = data_df_clean_v3["DEXUSEU"].pct_change(1)

In [295]:
# Count the rows
data_df_clean_v3.count()

Date                    2436
DCOILBRENTEU            2436
DJIA                    2436
DCOILWTICO              2436
DHHNGSP                 2436
GOLDAMGBD228NLBM        2436
NASDAQCOM               2436
SP500                   2436
WILL5000INDFC           2436
DEXCHUS                 2436
DEXINUS                 2436
DEXJPUS                 2436
DEXUSEU                 2436
Pct_DCOILBRENTEU        2435
Pct_DJIA                2435
Pct_DCOILWTICO          2435
Pct_DHHNGSP             2435
Pct_GOLDAMGBD228NLBM    2435
Pct_NASDAQCOM           2435
Pct_SP500               2435
Pct_WILL5000INDFC       2435
Pct_DEXCHUS             2435
Pct_DEXINUS             2435
Pct_DEXJPUS             2435
Pct_DEXUSEU             2435
dtype: int64

In [296]:
# Dispaly the count of the rows and columns
data_df_clean_v3.shape

(2436, 25)

In [297]:
# Dispaly the columns
data_df_clean_v3.columns

Index(['Date', 'DCOILBRENTEU', 'DJIA', 'DCOILWTICO', 'DHHNGSP',
       'GOLDAMGBD228NLBM', 'NASDAQCOM', 'SP500', 'WILL5000INDFC', 'DEXCHUS',
       'DEXINUS', 'DEXJPUS', 'DEXUSEU', 'Pct_DCOILBRENTEU', 'Pct_DJIA',
       'Pct_DCOILWTICO', 'Pct_DHHNGSP', 'Pct_GOLDAMGBD228NLBM',
       'Pct_NASDAQCOM', 'Pct_SP500', 'Pct_WILL5000INDFC', 'Pct_DEXCHUS',
       'Pct_DEXINUS', 'Pct_DEXJPUS', 'Pct_DEXUSEU'],
      dtype='object')

In [298]:
# Dispaly the datatypes
data_df_clean_v3.dtypes

Date                     object
DCOILBRENTEU            float64
DJIA                    float64
DCOILWTICO              float64
DHHNGSP                 float64
GOLDAMGBD228NLBM        float64
NASDAQCOM               float64
SP500                   float64
WILL5000INDFC           float64
DEXCHUS                 float64
DEXINUS                 float64
DEXJPUS                 float64
DEXUSEU                 float64
Pct_DCOILBRENTEU        float64
Pct_DJIA                float64
Pct_DCOILWTICO          float64
Pct_DHHNGSP             float64
Pct_GOLDAMGBD228NLBM    float64
Pct_NASDAQCOM           float64
Pct_SP500               float64
Pct_WILL5000INDFC       float64
Pct_DEXCHUS             float64
Pct_DEXINUS             float64
Pct_DEXJPUS             float64
Pct_DEXUSEU             float64
dtype: object

In [299]:
# Run the describe function
data_df_clean_v3.describe()

,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,...,Pct_DCOILWTICO,Pct_DHHNGSP,Pct_GOLDAMGBD228NLBM,Pct_NASDAQCOM,Pct_SP500,Pct_WILL5000INDFC,Pct_DEXCHUS,Pct_DEXINUS,Pct_DEXJPUS,Pct_DEXUSEU
count,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,...,2435.000000,2435.000000,2435.000000,2435.000000,2435.000000,2435.000000,2435.000000,2435.000000,2435.000000,2435.000000
mean,79.177783,17946.284860,71.897036,3.241067,1356.465948,4878.058072,2003.397701,89.757635,6.506055,60.556976,...,-0.000144,0.000589,0.000190,0.000556,0.000398,0.000465,0.000013,0.000212,0.000087,-0.000069
std,26.383881,5236.744309,22.154591,0.837332,179.028310,1940.353305,600.649600,31.002341,0.288440,8.562857,...,0.022158,0.043691,0.009717,0.011516,0.010139,0.010340,0.001921,0.004984,0.005871,0.005558
min,26.010000,9686.480000,26.190000,1.490000,1050.600000,2091.790000,1022.580000,41.150000,6.040200,43.900000,...,-0.245260,-0.378495,-0.085271,-0.094347,-0.095113,-0.097228,-0.012340,-0.036863,-0.034372,-0.026370
25%,56.167500,13167.747500,51.822500,2.700000,1230.537500,3040.517500,1409.677500,59.102500,6.236225,54.295000,...,-0.011378,-0.015608,-0.005154,-0.004195,-0.003371,-0.003614,-0.000677,-0.002240,-0.002860,-0.003154
50%,74.290000,17193.395000,68.790000,3.045000,1299.500000,4705.055000,2011.315000,88.905000,6.472650,63.250000,...,0.000491,0.000000,0.000266,0.000951,0.000603,0.000788,0.000000,0.000000,0.000090,-0.000073
75%,107.917500,22050.867500,93.542500,3.850000,1473.162500,6401.105000,2476.620000,113.972500,6.772000,66.950000,...,0.010890,0.015019,0.005440,0.006582,0.005161,0.005401,0.000654,0.002510,0.003176,0.002989
max,128.140000,29551.420000,112.380000,8.150000,1891.000000,9817.180000,3386.150000,160.950000,7.178600,74.330000,...,0.152301,0.691057,0.052013,0.093459,0.092871,0.089978,0.018327,0.047770,0.033993,0.031117

In [300]:
# Export the final version of the cleaned up ata to be used in the Analysis
data_df_clean_v3.to_excel("Output/01_Exploration_and_Cleanup/v3_clean_data_created_percentage_changes.xlsx", index=False)